.aspectcurseur {
    cursor: pointer;
}

#steack{
    visibility: hidden;
}

#tableHistoriqueChat {
    border-collapse:collapse;
}

#tableHistoriqueChat td{
    border: 1px solid lightslategrey;
    padding-left: 4px;
    padding-right: 4px; 
}

#listchats li {
    font-weight: bold; 
}

.historiqueChat {
    display: none;
    overflow: scroll;
    width: 100%;
    height: 200px;
}

.enteteTableChat {
    color: #d34d17;
    font-size: 0.8em;
    padding-top: 10px;
    
}

/* pair */
.odd {
    background-color: peachpuff;  
}

/* impair */
.even {
    background-color: lightyellow;
}

#alert_ami {
    width: 40px;
    height: 35px;
    display: inline-block;
}

#ami img {
       width: 30px; 
}
#ami {
    float: left;
    margin-top: 14px;
}

#ami_nombre {
    float: left;
    background-color: red;
    color: white;
    font-size: 0.8em;
    margin-top: 10px;
}

.clear {
    clear: both;
}