{% extends "::base.html.twig" %}

{% block titre %}Utilisateurs{% endblock %}

{% block body %}
    <div>
        {% block fos_user_content %}
        {% endblock %}
    </div>
    <div>
        {% block utilisateur %}
        {% endblock %}
    </div>
{% endblock %}
