{% extends 'WSOvsBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} - modifier evenement
{% endblock %}
{% block ovs %}
    {% include 'WSOvsBundle:formulaire:formulaire.html.twig' %}
    {{ google_map(map) }}
    <br/>
    <p><a href="{{ path('ws_ovs_evenement_voir', {'id': evenement.id}) }}">retour à l'événement</a></p>
    <script src="{{ asset('js/addresspickermodif.js') }}"></script>
{% endblock %}
