<a href="{{path('fos_user_profile_show') }}">Votre Profil</a>
{% if amis_att is not empty %}
    <div id="alert_ami">
        <div id="ami">
            <a href="{{path('fos_user_profile_show') }}"><img src="{{asset('images/amis2.png')}}"/></a> 
        </div>
        <div id="ami_nombre">
            {{ amis_att|length }}
        </div>
    </div>
    <div class="clear"></div>
{% endif %}

