<a href="{{path('fos_user_profile_show') }}">Votre Profil</a>
{% if amis_att is not empty %}
    <a href="{{path('fos_user_profile_show') }}"><img id="ami" src="{{asset('images/amis.png')}}"/></a> <span id="ami_nombre">{{ amis_att|length }}</span>
{% endif %}

