{% extends 'WSOvsBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} - modifier ma participation
{% endblock %}
{% block ovs %}
    {% include 'WSOvsBundle:formulaire:formulaire.html.twig' %}
    <br/>
    <p><a href="{{ path('ws_ovs_evenement_voir', {'id': userEvenement.evenement.id}) }}">retour</a></p>
{% endblock %}

